<nav class="sidebar">
    <div class="logo">
      <a href="#">ArcticNode CRM</a>
    </div>
    <div class="menu">
      <a a routerLink="/home"><i class="fas fa-search"></i> Inicio</a>
      <a a routerLink="/users"><i class="fas fa-search"></i> Buscar Clientes</a>
      <a href="#"><i class="fas fa-building"></i> Buscar Empresas</a>
      <a a routerLink="/cases"><i class="fas fa-folder-open"></i> Buscar Casos</a>
      <a href="#"><i class="fas fa-clipboard-list"></i> Registros del Sistema</a>
    </div>
    <div class="user">
      <a href="#"><i class="fas fa-user-circle"></i> Mi Perfil</a>
      <a href="#"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
    </div>
  </nav>