<nav class="sidebar">
    <div class="logo">
      <a href="#">ArcticNode CRM</a>
    </div>
    <div class="menu">
      <a a routerLink="/home"><i class="fas fa-search"></i> Inicio</a>
      <a a routerLink="/users"><i class="fas fa-search"></i> Buscar Clientes</a>
      <a a routerLink="/enterprises"><i class="fas fa-building"></i> Buscar Empresas</a>
      <a a routerLink="/cases"><i class="fas fa-folder-open"></i> Buscar Casos</a>

    </div>
    <div class="user">
      <a a routerLink="/admin"><i class="fas fa-clipboard-list"></i> Administracion</a>
      <a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
    </div>
  </nav>