<nav class="sidebar">
  <div class="logo">
    <div class="logo-image"></div>
    <h1>ArcticNode CRM</h1>
  </div>
  <div class="menu">
    <a routerLink="/home" routerLinkActive="active">
      <i class="fas fa-home"></i>
      <span>Inicio</span>
    </a>
    <a routerLink="/users" routerLinkActive="active">
      <i class="fas fa-users"></i>
      <span>Buscar Clientes</span>
    </a>
    <a routerLink="/enterprises" routerLinkActive="active">
      <i class="fas fa-building"></i>
      <span>Buscar Empresas</span>
    </a>
    <a routerLink="/cases" routerLinkActive="active">
      <i class="fas fa-folder-open"></i>
      <span>Buscar Casos</span>
    </a>
    <a routerLink="/interactions" routerLinkActive="active">
      <i class="fas fa-interactions-open"></i>
      <span>Buscar Interacciones de usuario</span>
    </a>
    <a href="javascript:void(0);" (click)="developmentFeatureAlert()">
      <i class="fas fa-email-module-open"></i>
      <span>Enviar emails</span>
    </a>
    <a href="javascript:void(0);" (click)="developmentFeatureAlert()">
      <i class="fas fa-tasks-module-open"></i>
      <span>Tareas</span>
    </a>
    
  </div>
  <div class="user">
    <a routerLink="/admin" routerLinkActive="active">
      <i class="fas fa-cogs"></i>
      <span>Administración</span>
    </a>
    <a (click)="logout()" class="logout">
      <i class="fas fa-sign-out-alt"></i>
      <span>Cerrar Sesión</span>
    </a>
  </div>
</nav>