<h2 mat-dialog-title>Cargar nuevo cliente</h2>
<div mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Primer nombre</mat-label>
      <input matInput formControlName="firstname" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Segundo nombre</mat-label>
      <input matInput formControlName="secondname">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Primer apellido</mat-label>
      <input matInput formControlName="firstlastname" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Segundo apellido</mat-label>
      <input matInput formControlName="secondlastname">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Celular/Telefono</mat-label>
      <input matInput formControlName="phone" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Direccion</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Identificador (CI,DNI, etc)</mat-label>
      <input matInput formControlName="identifier" required>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-button type="submit" [disabled]="!userForm.valid">Guardar</button>
    </div>
  </form>
</div>
